.landing {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-img {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
  }
  .home-container {
      padding: 0 0 2rem;
  }

// cards

.cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1rem 0;
    .card {
        width: 33.3333%;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 1px;
        border-top: none;
        border-bottom: none;
        padding: 1.5rem 1rem;
        &:first-child {
            border-left: none;
        }
        &:last-child {
            border-right: none;
        }
        h4 {
            font-size: 1.3rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }
        p {
            text-align: center;
            font-size: 0.9rem;
        }
    }
}
@media only screen and (max-width: 780px) {
    .cards {
        flex-wrap: wrap;
        .card {
            width: 100%;
            border-left: none;
            border-right: none;
            border-top: 1px solid rgba($black, 0.125);
            border-bottom: 1px solid rgba($black, 0.125);
            &:first-child {
                border-top: none;
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }
}

// sliders
.widget_text {
    display: block;
}
.carousel {
    text-align: center;
    margin: 1.5rem;
    letter-spacing: 1px;
    h3 {
        text-transform: uppercase;
        font-weight: bold;
    }
    p {
        width: 65%;
        font-size: 0.9rem;
        margin: 1rem auto;
    }
    .widget {
        margin: 2rem 0;
    }
}
.owl-item .item .cart .add_to_cart_button, #woo-product-carousel-wrapper-878011636 .owl-item .item .cart a.added_to_cart.wc-forward {
    border: none;
    outline: none;
    background-color: $black !important;
    color: $white !important;
    transition: 0.3s ease-in-out;
    &:hover {
      background: $blue !important;
      box-shadow: 0 0 0.5rem $blue !important;
      transition: 0.3s ease-in-out;
    }
    &:active {
      transform: scale(0.9);
      transition: 0.3s ease-in-out;
    }
}

// newsletter section
.newsletter {
    display: flex;
    align-items: center;
    background: rgba($black, 0.05);
    padding: 4rem 1rem;
    letter-spacing: 1px;
    h4 {
        text-align: center;
        text-decoration: underline;
        font-weight: bold;
        margin-bottom: 1rem;
    }
    .widget_mc4wp_form_widget {
        list-style: none;
        .widget-title {
            display: none;
        }
        .mc4wp-form-fields {
            text-align: center;
            label {
                width: 20rem;
            }
            input[type='email'] {
                width: 100%;
                text-align: center;
                outline: none;
                background: none;
                border: none;
                border-bottom: 1px solid $black;
                margin-top: 1.5rem;
            }
            input[type='submit'] {
                padding: 1rem 2.5rem;
                outline: none;
                border: none;
                text-decoration: none;
                background: $black;
                color: $white;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 0.85rem;
                transition: 0.3s ease-in-out;
                &:hover {
                    background: $blue;
                    box-shadow: 0 0 0.5rem $blue;
                    transition: 0.3s ease-in-out;
                }
              }
            }
        }
    }

    @media only screen and (max-width: 550px) {
        .newsletter {
            .mc4wp-form-fields {
                label {
                    width: 80% !important;
                }
            }
        }
    }